// colors

$green: #488966;
$teal: #417f7f;
$paleYellow: #fff0a5;
$sunshineYellow: #ffb03b;
$burntOrange: #b64926;
$deepRed: #8e2800;
$darkBrown: #291e10;

$backgroundColor: $paleYellow;
$colorHeadlines: $deepRed;

//fonts

$headers: 'Roboto', sans-serif;
$specialHeadlines: 'Sansita', sans-serif;
$fontBody: 'Merriweather', serif;

// button colors
$btnTextColor: $backgroundColor;
$btnDefaultColor: $green;
$btnCoolColor: $teal;
$btnHotColor: $deepRed;











