.lgImageHeaders{
    color: $backgroundColor;
    margin:20px 0;
    width:100%;
    display:table;
    
    .container {
        display: table-cell;
        vertical-align: bottom;
        padding-bottom:20px;
        
        h1 {
            color: $backgroundColor;
            font-family: $specialHeadlines;
            font-size: 4.5rem;
            line-height: 110%;
            margin-bottom: 0;
            padding: 0 10%;
        }
        
        p {
            padding:0 10%;
            margin-top: 0;
        }
    }
}



.jumbotron {
    @include bgImage("../../images/carousel1.jpg", 400px);
}

.sharks {
    @include bgImage("../../images/carousel3.jpg", 200px, bottom);
}